# Step 1: Import Libraries

In [11]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

## Step 2:Load Dataset

In [12]:
df=pd.read_csv("House_price.csv")

In [13]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

## Step 3 :Understand Dataset

In [14]:
df.shape

(13320, 9)

In [15]:
df.columns

Index(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft', 'bath', 'balcony', 'price'],
      dtype='object')

In [16]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

## Step 4: Dataset Summary

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [19]:
df.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [20]:
df.describe(include='all')

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
count,13320,13320,13319,13304,7818,13320,13247.000000,12711.000000,13320.000000
unique,4,81,1305,31,2688,2117,NaN,NaN,NaN
top,Super built-up Area,Ready To Move,Whitefield,2 BHK,GrrvaGr,1200,NaN,NaN,NaN
freq,8790,10581,540,5199,80,843,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,2.692610,1.584376,112.565627
std,NaN,NaN,NaN,NaN,NaN,NaN,1.341458,0.817263,148.971674
min,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,8.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,1.000000,50.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,2.000000,72.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,2.000000,120.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,40.000000,3.000000,3600.000000

In [4]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [5]:
df['society'].mode()

0    GrrvaGr
Name: society, dtype: object

In [6]:
df["society"].fillna(df["society"].mode()[0],inplace=True)

In [7]:
df['society']

0        Coomee
1        Theanmp
2        GrrvaGr
3        Soiewre
4        GrrvaGr
          ...
13315    ArsiaEx
13316    GrrvaGr
13317    Mahla T
13318    SollyCl
13319    GrrvaGr
Name: society, Length: 13320, dtype: object

In [7]:
df["size"].isnull().sum()

16

In [8]:
df['size']=df['size'].str.extract(r'(\d+)').astype(float)

In [9]:
df['size'].fillna(df['size'].median(),inplace=True)

In [10]:
df['size'].isnull().sum()

0

In [12]:
df['bath'].isnull().sum()

73

In [13]:
df['bath'].fillna(df['bath'].median(),inplace=True)

In [14]:
df['bath'].isnull().sum()

0

In [15]:
df['balcony'].isnull().sum()

609

In [16]:
df['balcony'].fillna(df['balcony'].median(),inplace=True)

In [17]:
df['balcony'].isnull().sum()

0

In [18]:
df['location'].fillna(df['location'].mode()[0],inplace=True)

In [19]:
df['location'].isnull().sum()

0

In [20]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2.0,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4.0,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3.0,GrrvaGr,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3.0,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2.0,GrrvaGr,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5.0,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4.0,GrrvaGr,3600,5.0,2.0,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2.0,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4.0,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1.0,GrrvaGr,550,1.0,1.0,17.00

In [21]:
df.isnull().sum()

area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [22]:
df.dtypes

area_type        object
availability     object
location         object
size            float64
society          object
total_sqft       object
bath            float64
balcony         float64
price           float64
dtype: object

In [23]:
from sklearn.preprocessing import LabelEncoder

In [24]:
cat=['area_type','availability','location','society','total_sqft']

In [25]:
le=LabelEncoder()
for col in cat:
    df[col]=le.fit_transform(df[col])
    print(df[col])

0        3
1        2
2        0
3        3
4        3
        ..
13315    0
13316    3
13317    0
13318    3
13319    3
Name: area_type, Length: 13320, dtype: int32
0        40
1        80
2        80
3        80
4        80
         ..
13315    80
13316    80
13317    80
13318    32
13319    80
Name: availability, Length: 13320, dtype: int32
0         419
1         317
2        1179
3         757
4         716
         ...
13315    1252
13316    1004
13317     972
13318     907
13319     396
Name: location, Length: 13320, dtype: int32
0         464
1        2439
2         806
3        2186
4         806
         ...
13315     209
13316     806
13317    1216
13318    2205
13319     806
Name: society, Length: 13320, dtype: int32
0          70
1        1288
2         514
3         602
4         239
         ...
13315    1499
13316    1535
13317     172
13318    1680
13319    1747
Name: total_sqft, Length: 13320, dtype: int32

In [26]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
for col in cat:
    df[col] = le.fit_transform(df[col])
    print(f"Encoded '{col}':")

Encoded 'area_type':
Encoded 'availability':
Encoded 'location':
Encoded 'society':
Encoded 'total_sqft':

In [27]:
x=df.drop('price',axis=1)

In [28]:
x

,area_type,availability,location,size,society,total_sqft,bath,balcony
0,3,40,419,2.0,464,70,2.0,1.0
1,2,80,317,4.0,2439,1288,5.0,3.0
2,0,80,1179,3.0,806,514,2.0,3.0
3,3,80,757,3.0,2186,602,3.0,1.0
4,3,80,716,2.0,806,239,2.0,1.0
...,...,...,...,...,...,...,...,...
13315,0,80,1252,5.0,209,1499,4.0,0.0
13316,3,80,1004,4.0,806,1535,5.0,2.0
13317,0,80,972,2.0,1216,172,2.0,1.0
13318,3,32,907,4.0,2205,1680,4.0,1.0
13319,3,80,396,1.0,806,1747,1.0,1.0

In [29]:
y=df['price']

In [30]:
y

0         39.07
1        120.00
2         62.00
3         95.00
4         51.00
          ...
13315    231.00
13316    400.00
13317     60.00
13318    488.00
13319     17.00
Name: price, Length: 13320, dtype: float64

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [32]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3)

In [33]:
kernels=['linear','poly','rbf','sigmoid']
for kernel in kernels:
    model=SVR(kernel=kernel)
    model.fit(xtrain,ytrain)
    y_pred=model.predict(xtest)
    print("MAE:",mean_absolute_error(ytest,y_pred))
    print("MSE:",mean_squared_error(ytest,y_pred))
    print("RMSE:",np.sqrt(mean_squared_error(ytest,y_pred)))
    print("R2 score:",r2_score(ytest,y_pred))

MAE: 48.6070027870757
MSE: 17977.673912401136
RMSE: 134.08084841766603
R2 score: 0.1769984138441435
MAE: 57.51299780153237
MSE: 22402.85433272815
RMSE: 149.67583082357737
R2 score: -0.02558232728514942
MAE: 51.8280827523993
MSE: 21039.073459402454
RMSE: 145.0485210521033
R2 score: 0.03685032264415178
MAE: 133.26534588241492
MSE: 40813.6858699689
RMSE: 202.0239735030694
R2 score: -0.868413476155045